* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(150deg, #ff8e61, #6b1f01);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    animation: rotateBackground 10s infinite linear;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}


.login-card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
    backdrop-filter: blur(10px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-logo img {
    width: 100px;
    margin-bottom: 20px;
    animation: bounceIn 1s ease-in-out;
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: #6b1f01;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #6b1f01;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #ff8e61;
}

.or-text {
    margin: 15px 0;
    color: #666;
}

.terms {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}

.terms a {
    color: #6b1f01;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    animation: fadeIn 1s ease-in-out;
}

.footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-card {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .login-form input,
    .login-button,
    .whatsapp-button {
        padding: 8px;
    }
}

